<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>controller.admin.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>controller.user.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FileFilter</filter-name>
        <filter-class>controller.FileFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FileFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/check-out/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.authen.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshCaptcha</servlet-name>
        <servlet-class>controller.authen.RefreshCaptcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistory</servlet-name>
        <servlet-class>controller.admin.TransactionHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardCouponTypeServlet</servlet-name>
        <servlet-class>controller.admin.DashboardCouponTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.homepage.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.admin.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.admin.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardOrderServlet</servlet-name>
        <servlet-class>controller.admin.DashboardOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardUserServlet</servlet-name>
        <servlet-class>controller.user.DashboardUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardCardServlet</servlet-name>
        <servlet-class>controller.admin.DashboardCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardCategoryServlet</servlet-name>
        <servlet-class>controller.admin.DashboardCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardController</servlet-name>
        <servlet-class>controller.homepage.CardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controller.user.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardStorageServlet</servlet-name>
        <servlet-class>controller.admin.DashboardStorageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardCouponServlet</servlet-name>
        <servlet-class>controller.admin.DashboardCouponServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddMoneyServlet</servlet-name>
        <servlet-class>controller.admin.AdminAddMoneyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryWalletServlet</servlet-name>
        <servlet-class>controller.user.HistoryWalletServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPResponeController</servlet-name>
        <servlet-class>VNPay.VNPResponeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWalletController</servlet-name>
        <servlet-class>controller.homepage.AddWalletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardStatistics</servlet-name>
        <servlet-class>controller.admin.DashboardStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityLogServlet</servlet-name>
        <servlet-class>controller.user.ActivityLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminActivityLogServlet</servlet-name>
        <servlet-class>controller.admin.AdminActivityLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReviewsServlet</servlet-name>
        <servlet-class>controller.user.UserReviewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardReviewServlet</servlet-name>
        <servlet-class>controller.admin.DashboardReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.user.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFeedbacksServlet</servlet-name>
        <servlet-class>controller.admin.ManageFeedbacksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardNewsServlet</servlet-name>
        <servlet-class>controller.admin.DashboardNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardSliderServlet</servlet-name>
        <servlet-class>controller.admin.DashboardSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>controller.homepage.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetailsController</servlet-name>
        <servlet-class>controller.homepage.NewsDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderController</servlet-name>
        <servlet-class>controller.homepage.SliderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>controller.authen.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.authen.EditProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshCaptcha</servlet-name>
        <url-pattern>/refreshCaptcha</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>controller.authen.ForgotPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardUserServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardCardServlet</servlet-name>
        <url-pattern>/admin/dashboardcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardCategoryServlet</servlet-name>
        <url-pattern>/dashboardCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardCouponTypeServlet</servlet-name>
        <url-pattern>/dashboardCouponType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardController</servlet-name>
        <url-pattern>/card</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardStorageServlet</servlet-name>
        <url-pattern>/dashboardStorage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardCouponServlet</servlet-name>
        <url-pattern>/dashboardCoupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddMoneyServlet</servlet-name>
        <url-pattern>/admin/addMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryWalletServlet</servlet-name>
        <url-pattern>/historyWallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPResponeController</servlet-name>
        <url-pattern>/vnpayresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistory</servlet-name>
        <url-pattern>/transactionHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWalletController</servlet-name>
        <url-pattern>/addWallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardOrderServlet</servlet-name>
        <url-pattern>/dashboardOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardStatistics</servlet-name>
        <url-pattern>/admin/statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityLogServlet</servlet-name>
        <url-pattern>/ActivityLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActivityLogServlet</servlet-name>
        <url-pattern>/admin/activityLog</url-pattern>
        <url-pattern>/admin/activityLog/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReviewsServlet</servlet-name>
        <url-pattern>/reviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardReviewServlet</servlet-name>
        <url-pattern>/dashboardReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/view/user/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>ManageFeedbacksServlet</servlet-name>
        <url-pattern>/admin/manageFeedbacks</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>DashboardNewsServlet</servlet-name>
        <url-pattern>/admin/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardSliderServlet</servlet-name>
        <url-pattern>/admin/slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetailsController</servlet-name>
        <url-pattern>/news-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderController</servlet-name>
        <url-pattern>/slider</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
